<!DOCTYPE html>
<html>
    <head>
        <script src="../bower_components/webcomponentsjs/webcomponents.min.js"></script>
        <link rel="import" href="../web_components/eeu-html-paper.html">
        <link rel="import" href="../bower_components/paper-card/paper-card.html">
        <link rel="import" href="../web_components/eeu-paper-input-feedback.html">
    </head>

    <style>
        body {
            background: #c4e3f3;
        }
    </style>

    <body>

        <paper-card heading="EEU paper-input-feedback">
            <div class="card-content">
                <paper-input-feedback rounded-name="boardLength[1]" value="37.9375" label="Length"></paper-input-feedback>
            </div>
        </paper-card>
    </body>
</html>