<!DOCTYPE html>
<html>
<head>

    <script src="../bower_components/webcomponentsjs/webcomponents.min.js"></script>
    <link rel="stylesheet" href="../css/bootstrap-theme.min.css">
    <link rel="import" href="../web_components/larapoly.html">
    <link rel="import" href="../web_components/my-custom-web-components.html">

    <link rel="stylesheet" href="../css/eeu_components.css">
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../bower_components/bootstrap/js/dropdown.js" ></script>
    <script>

        var larapolyDoubleSelectData = [
            {"type": "Aluminum","name":"Angle 2'' x 2''  1/4''", "id":"34"},
            {"type": "Wood"    ,"name":"2\" x 4\" Stud"        , "id":"95"},
            {"type": "Steel"   ,"name":"C6\" x 8.2"            , "id":"64"},
            {"type": "Steel"   ,"name":"1/4\" x 2\" Bar"       , "id":"65"},
            {"type": "Aluminum","name":"Angle 3\" x 3\"  1/4\"", "id":"35"},
            {"type": "Steel"   ,"name":"1/4\" x 3\" Bar"       , "id":"66"}
        ];
        var larapolyDoubleSelectTypes = new Array(); // Let the first wc executed initialize this array

    </script>

</head>
    <body>

        <my-header></my-header>
        <div class="body_container">

            <div class="fluid">

                <div class="col-lg-3">
                    <div class="panel panel-info">
                        <div class="panel-heading">Sample Form</div>
                        <div class="panel-body">
                            <form class="form">
                                <larapoly-dec-to-frac name="boardThick[1]"  value="0.1875"  label="Thickness"></larapoly-dec-to-frac>
                                <larapoly-dec-to-frac name="boardWide[1]"   value="3.5"     label="Width"    ></larapoly-dec-to-frac>
                                <larapoly-dec-to-frac name="boardLength[1]" value="37.9375" label="Length"   ></larapoly-dec-to-frac>
                                <larapoly-string name="criminal" value="Adolf" label="First Name" min="4" max="8" ></larapoly-string>
                                <larapoly-double-select name="fart[2]" label="Material" typename="Material" value="64" ></larapoly-double-select>
                                <larapoly-date-select value="2015-08-20 00:00:00"></larapoly-date-select>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="panel panel-info">
                        <div class="panel-heading">Sample Inline Form</div>
                        <div class="panel-body">
                            <form class="form-inline">

                                <larapoly-alert messagetype="success" message="It works!" ></larapoly-alert>
                                <larapoly-dec-to-frac name="boardThick[3]"  value="0.1875"  label=" "></larapoly-dec-to-frac>
                                <larapoly-dec-to-frac name="boardWide[3]"   value="3.5"     label=" "    ></larapoly-dec-to-frac>
                                <larapoly-dec-to-frac name="boardLength[3]" value="37.9375" label=" "   ></larapoly-dec-to-frac>


                                <larapoly-string-inline name="criminal" label="First Name" value="Adolf" min="4" max="8" ></larapoly-string-inline>
                                <larapoly-dec-to-frac name="boardLength[4]" value="41.0625" label="Wake : "   ></larapoly-dec-to-frac>
                                <larapoly-dec-to-frac-ro value="13.4375" fclass="input_group"></larapoly-dec-to-frac-ro>
                                <larapoly-dec-to-frac-ro value="9.375" fclass="plain"></larapoly-dec-to-frac-ro>

                                <larapoly-double-select name="fart[1]" typename="Material" value="65" ></larapoly-double-select>
                                <larapoly-date-select value="2015-05-19 16:30:00" placeholder="Expiration"></larapoly-date-select>

                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </body>
</html>